apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic-deployment
  labels:
    app: petclinic
spec:
  replicas: 2
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
      - name: petclinic
        # 이미지는 항상 최신을 가져오도록 설정
        image: 175321200489.dkr.ecr.ap-northeast-2.amazonaws.com/my-web-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        # [핵심 1] 무조건 MySQL 프로필 사용
        - name: SPRING_PROFILES_ACTIVE
          value: "mysql"
        # [핵심 2] 드라이버 강제 지정 (H2 못 쓰게 막음)
        - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
          value: "com.mysql.cj.jdbc.Driver"
        # [핵심 3] URL 설정
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://tf-db.ccitclnvbmiv.ap-northeast-2.rds.amazonaws.com:3306/petclinic?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&createDatabaseIfNotExist=true"
        - name: SPRING_DATASOURCE_USERNAME
          value: "admin"
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: password
        - name: SPRING_JPA_HIBERNATE_DDL_AUTO
          value: "update"