apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic-deployment
  labels:
    app: petclinic
spec:
  replicas: 2
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
      - name: petclinic
        # 이미지는 기존 그대로 유지
        image: $(aws ecr describe-repositories --repository-names my-web-app --query 'repositories[0].repositoryUri' --output text):latest
        ports:
        - containerPort: 8080
        env:
        # --- [RDS 연결 설정] ---
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://tf-db.ccitclnvbmiv.ap-northeast-2.rds.amazonaws.com:3306/petclinic?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8"
        - name: SPRING_DATASOURCE_USERNAME
          value: "admin"
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: password
        - name: SPRING_JPA_HIBERNATE_DDL_AUTO
          value: "update"