apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
      - name: petclinic
        image: 175321200489.dkr.ecr.ap-northeast-2.amazonaws.com/my-web-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        # 중요! Spring Profile 설정
        - name: SPRING_PROFILES_ACTIVE
          value: "hsqldb"  # 또는 "mysql"
        
        # MySQL 사용 시 추가 (hsqldb면 불필요)
         - name: MYSQL_URL
           value: "jdbc:mysql://your-rds-endpoint:3306/petclinic"
         - name: MYSQL_USER
           value: "admin"
         - name: MYSQL_PASS
           value: "admin1234"
        
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 90
          periodSeconds: 10
        
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: petclinic-service
spec:
  type: LoadBalancer
  selector:
    app: petclinic
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080