apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic-deployment
  labels:
    app: petclinic
spec:
  replicas: 2
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
      - name: petclinic
        # 이미지 주소는 자동으로 들어가도록 설정
        image: 175321200489.dkr.ecr.ap-northeast-2.amazonaws.com/my-web-app:latest
        ports:
        - containerPort: 8080
        env:
        # [여기! MySQL 모드를 켜는 핵심 설정 추가]
        - name: SPRING_PROFILES_ACTIVE
          value: "mysql"
        # ------------------------------------
        - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
          value: "com.mysql.cj.jdbc.Driver"
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://tf-db.ccitclnvbmiv.ap-northeast-2.rds.amazonaws.com:3306/petclinic?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8"
        - name: SPRING_DATASOURCE_USERNAME
          value: "admin"
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: password
        - name: SPRING_JPA_HIBERNATE_DDL_AUTO
          value: "update"